@font-face {
  font-family: 'VerandaFont';
  src: url('fonts/Apoc-BoldItalic.woff') format('woff');
  src: url('fonts/Apoc-BoldItalic.woff2') format('woff2');
}

p {
  font-family: VerandaFont;
  font-size: 1.2em;
  margin-bottom: 30px;
  line-height: 1.6;
}

img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
