/* MOBILE VIEW */
body, html {
    height: 100%;
    margin: 0;
  }

  .screen{
    background-image: url('img_press/veranda_ramme_mobil.svg'); /* Replace 'your-image-url.jpg' with the URL or path to your image */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    height: 100%;
    height: 100vh; 
  }

  /* burgermenu */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-toggle {
    display: none;
}

.burger-menu {
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.navbar {
    background-color: #333;
    padding: 10px;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: white;
}

/* Media query for responsive design */
@media screen and (max-width: 600px) {
    .menu {
        display: none;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    }

    .menu-toggle:checked + .burger-menu + .navbar .menu {
        display: flex;
    }

    .menu li {
        margin: 0;
        text-align: center;
    }

    .burger-menu {
        display: block;
    }
}

.logo{
  width: 70%;
  height: auto;
  position: absolute;
  top: 22%;
  left: 21%;
}

/* DESKTOP VIEW */
@media (min-width: 800px) {
    /* ramme */
    body, html {
        height: 100%;
        margin: 0;
      }
    
      .screen{
        background-image: url(img_press/veranda_ramme_desktop.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100vw;
        height: 100vh;
        
      }
.logo{
    width: 25%;
    height: auto;
    position: absolute;
    top: 24%;
    left: 40%;
}
      
    }