body {
  margin: 1cm;
  border: 2px solid #283274;
  box-sizing: border-box;
}

@font-face {
  font-family: "VerandaFont";
  src: url("fonts/Apoc-BoldItalic.woff") format("woff");
  src: url("fonts/Apoc-BoldItalic.woff2") format("woff2");
}

h1 {
  font-family: VerandaFont;
}

.menu-toggle {
  display: none;
}

.burger-menu {
  font-size: 24px;
  cursor: pointer;
  display: none;
}

.navbar {
  padding: 10px;
}

.menu {
  list-style: none;
  display: flex;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: rgb(35, 19, 19);
}

/* Media query for responsive design */
@media screen and (max-width: 600px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  }

  .menu-toggle:checked + .burger-menu + .navbar .menu {
    display: flex;
  }

  .menu li {
    margin: 0;
    text-align: center;
  }

  .burger-menu {
    display: block;
  }
}

.logo img {
  width: 60xpx; /* Ændr denne værdi efter dine behov */
  height: auto; /* Bevarer billedets proportioner */
}
