/* BURGER MENU */
header {
  padding: 20px;
  /* background-color: rgba(238, 218, 192, 1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}

.logo img {
  width: 30%;
  height: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  display: block;
  padding: 10px;
  color: #000d3f;
  text-decoration: none;
  transition: color 0.3s;
  text-align: end;
}

/* .menu a:hover {
  color: #221a13;
} */

.burger {
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.burger .line {
  width: 100%;
  height: 2px;
  background-color: #000d3f;
  margin-bottom: 5px;
  transition: 0.2s linear;
}
.burger {
  display: none;
}

/* MENU I MOBILEVIEW */
@media screen and (max-width: 800px) {
  .menu,
  .min_profil {
    display: none;
  }
  .burger {
    display: block;
  }
  .burger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .line:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu {
    display: block;
    background-color: rgba(238, 218, 192);
    position: absolute;
    top: 161px;
    right: 65px;
    /* width: 100%; */
    /* box-shadow: 0 0 10px rgba(123, 23, 23, 0.1); */
    z-index: 1;
  }

  nav.active .menu li {
    margin: 10px 20px;
  }

  nav.active .menu a {
    font-size: 20px;
  }
}

/* SIDEN I MOBILE VIEW */
body {
  height: 100%;
}

.border {
  margin: 1cm;
  border: 2px solid #000d3f;
  box-sizing: border-box;
  padding: 30px;
}

img {
  width: 70%;
  align-items: center;
}

/* SIDEN I COMPUTER VIEW */
@media (min-width: 800px) {
  /* ramme */
  body,
  html {
    height: 100%;
    margin: 0;
  }
  /* udkommenterede rammen fordi den ik passer */
  /* .screen{
        background-image: url('img_press/veranda_ramme_desktop.svg'); 
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100vh;
        overflow: hidden;
      } */

  .container_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  .img1 {
    grid-column: 2/2;
    grid-row: 1/3;
  }

  .container2_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
  }
  .order {
    order: -1;
    grid-column: 1/2;
    grid-row: 1/3;
  }
}
